@use "./variables" as *;

mat-list-item {
    height: fit-content !important;
    padding: 1vh 0 !important;
    border-bottom: 1px solid gray;
    background-color: transparent;
    transition: background-color 1s ease-out;

    &:hover {
        transition: background-color 0.2s ease-out;
        background: color-mix(in srgb, white 40%, black 30%);
    }
}

.list {
    padding: 0 $gap-size;
    border: 3px solid grey;
    border-radius: $border-radius;
}

.list-viewport {
    height: 88vh;
    overflow: auto;
}

.cdk-virtual-scroll-content-wrapper {
    scroll-behavior: smooth;
}
