<app-header>
    <div modal-left>
        <button
            mat-fab
            color="primary"
            matTooltip="Главная"
            class="mr"
            (click)="explorerService.goToHome()"
        >
            <mat-icon>home</mat-icon>
        </button>
    </div>

    <div modal-right>
        <button
            color="accent"
            mat-fab
            matTooltip="Добавить игровой аккаунт"
            (click)="explorerService.goToAddGamingAccount()"
        >
            <mat-icon>add</mat-icon>
        </button>
    </div>
</app-header>

@if (!isLoad) {
    @if (gamingAccountsList.length) {
        <div class="list">
            <cdk-virtual-scroll-viewport itemSize="100" class="list-viewport">
                <mat-list role="list">
                    <ng-container
                        *cdkVirtualFor="
                            let gamingAccount of gamingAccountsList;
                            let i = index;
                            trackBy: trackBy
                        "
                    >
                        <mat-list-item
                            role="listitem"
                            class="mat-mdc-list-item-interactive"
                            (click)="
                                explorerService.goToGamingAccountEdit(
                                    gamingAccount.id
                                )
                            "
                        >
                            <div class="item">
                                {{ gamingAccount.name }}

                                <div class="item__logos-wrapper">
                                    <div class="item__logo-wrapper">
                                        <app-logo-platform
                                            [data]="
                                                platformsService.getPlatformByType(
                                                    gamingAccount.platform
                                                )
                                            "
                                            [width]="'100%'"
                                        ></app-logo-platform>
                                    </div>
                                </div>
                            </div>
                        </mat-list-item>
                    </ng-container>
                </mat-list>
            </cdk-virtual-scroll-viewport>
        </div>
    } @else {
        <app-empty-card></app-empty-card>
    }
} @else {
    <mat-spinner [diameter]="75"></mat-spinner>
}
