<button
    color="primary"
    mat-fab
    [matMenuTriggerFor]="menu"
    aria-label="Настройки"
    matTooltip="Настройки"
    class="mr"
>
    <mat-icon>settings</mat-icon>
</button>

<mat-menu #menu="matMenu" class="settings">
    <div class="settings__buttons">
        <button
            color="primary"
            mat-mini-fab
            aria-label="Данные"
            matTooltip="Данные"
            (click)="dialogService.openDataDialog()"
        >
            <mat-icon>insert_drive_file</mat-icon>
        </button>

        <button
            color="primary"
            mat-mini-fab
            matTooltip="Группы игр"
            (click)="explorerService.goToGameGroupsList()"
        >
            <mat-icon>group</mat-icon>
        </button>

        <button
            color="primary"
            mat-mini-fab
            matTooltip="Аккаунт"
            (click)="openAuthDialog()"
        >
            <mat-icon>account_circle</mat-icon>
        </button>

        <button
            color="primary"
            mat-mini-fab
            matTooltip="Тема"
            (click)="dialogService.openThemeSwitcher()"
        >
            <mat-icon>color_lens</mat-icon>
        </button>
    </div>
</mat-menu>
