@use "../../styles/gaps" as *;
@use "../../styles/variables" as *;

:host {
    width: max-content;
}

.settings {
    &__buttons {
        display: flex;
        flex-direction: column;

        button {
            margin-bottom: $gap-size;
        }
    }
}
