<mat-card class="auth">
    <mat-card-header class="auth__header">
        <mat-card-title>
            <div class="auth__title">
                @if (authService.isAuthorized()) {
                    <mat-icon class="green mr" matTooltip="Авторизован">
                        check_circle
                    </mat-icon>
                } @else {
                    <mat-icon class="red mr" matTooltip="Не авторизован">
                        error
                    </mat-icon>
                }
                Авторизация в Яндекс Диск

                <button
                    matMiniFab
                    color="primary"
                    (click)="dialogRef.close()"
                    [disabled]="(isLoad$ | async)?.isLoad"
                >
                    <mat-icon>close</mat-icon>
                </button>
            </div>

            <mat-divider></mat-divider>

            <div class="link-list">
                <a
                    mat-button
                    color="warn"
                    href="https://yandex.ru/dev/id/doc/ru/register-api"
                    target="_blank"
                    >Как получить clientId чтобы пользоваться Яндекс Диск?</a
                >
            </div>

            <mat-divider></mat-divider>

            <div class="info-list">
                @for (infoItem of infoList; track infoItem) {
                    <div class="info-list__item">
                        <span class="info-list__title">
                            {{ infoItem.title }}
                        </span>
                        <span>{{ infoItem.text }}</span>
                    </div>
                }
            </div>

            <mat-divider></mat-divider>
        </mat-card-title>
    </mat-card-header>

    <mat-card-content>
        <form [formGroup]="form">
            @if (!!form.get("clientId")) {
                <mat-form-field
                    appearance="outline"
                    subscriptSizing="dynamic"
                    class="auth__field"
                >
                    <mat-label>ID клиента</mat-label>

                    <input
                        matInput
                        placeholder="ID клиента"
                        formControlName="clientId"
                    />
                </mat-form-field>
            }

            @if (!!form.get("token")) {
                <mat-form-field
                    appearance="outline"
                    subscriptSizing="dynamic"
                    class="auth__field"
                >
                    <mat-label>Токен</mat-label>

                    <textarea
                        matInput
                        placeholder="Токен"
                        rows="5"
                        formControlName="token"
                    ></textarea>
                </mat-form-field>

                @if (!authService.isAuthorized()) {
                    <div class="auth__login">
                        <button
                            matFab
                            extended
                            class="mat-button black"
                            [disabled]="!form.controls.clientId?.valid"
                            (click)="openWindowToken()"
                        >
                            <img
                                src="/assets/yandex.png"
                                alt="Icon"
                                width="30"
                                height="30"
                                class="mr"
                            />
                            Получить токен Яндекс.Диск
                        </button>
                    </div>
                }
            }
        </form>
    </mat-card-content>

    <mat-card-actions align="end">
        @if (authService.isAuthorized()) {
            <button matFab extended class="mat-button black" (click)="logout()">
                <mat-icon>exit_to_app</mat-icon>
                Выйти из Яндекс Диск
            </button>
        } @else {
            @if (isLoad$ | async; as loadStatus) {
                @if (loadStatus && loadStatus.isLoad) {
                    <app-load-block [text]="loadStatus.status"></app-load-block>
                } @else {
                    <button
                        class="mat-button"
                        color="accent"
                        matFab
                        extended
                        [disabled]="!form.valid"
                        (click)="login()"
                    >
                        <mat-icon>login</mat-icon>
                        Авторизоваться
                    </button>
                }
            }
        }
    </mat-card-actions>
</mat-card>
