:host {
    display: flex;
}

.logo-platform {
    width: 3vh;
    object-fit: cover;
    aspect-ratio: 1/1;
    margin-right: 1vw;
}

.platforms-selected-item {
    font-size: inherit;
    line-height: 3em;
    height: 3em;
    display: flex;
    align-items: center;
    margin-right: 1vw;
}

.platforms-selected-list {
    display: flex;
}

.container-platform {
    display: flex;
    align-items: center;
}
.logo-platform {
    width: 3vh;
    object-fit: cover;
    aspect-ratio: 1/1;
    margin-right: 1vw;
}
