:host {
    display: flex;
}

mat-select-trigger {
    display: flex;
    align-items: center;

    app-logo-platform {
        position: absolute;
    }

    span {
        margin-left: 35px;
    }
}

.platforms-selected-item {
    font-size: inherit;
    line-height: 3em;
    height: 3em;
    display: flex;
    align-items: center;
    margin-right: 1vw;
}

.platforms-selected-list {
    display: flex;
}

.container-platform {
    display: flex;
    align-items: center;
}

.name-platform {
    margin-left: 10px;
}
