@if (form) {
    <form [formGroup]="form">
        <mat-form-field appearance="outline" subscriptSizing="dynamic">
            <mat-label>Поиск игры</mat-label>

            <input matInput placeholder="Поиск игры" formControlName="search" />

            @if (isSpinner) {
                <mat-icon matSuffix>
                    <mat-spinner [diameter]="25"></mat-spinner>
                </mat-icon>
            }
        </mat-form-field>

        <mat-form-field appearance="outline" subscriptSizing="dynamic">
            <mat-label>Платформа</mat-label>

            <mat-select formControlName="platform">
                <mat-select-trigger>
                    <app-logo-platform
                        [data]="form.value.platform"
                    ></app-logo-platform>

                    <span class="name-platform">
                        {{ form.value.platform?.name }}
                    </span>
                </mat-select-trigger>

                @for (platform of platformList; track platform) {
                    <mat-option [value]="platform">
                        <div class="container-platform">
                            <app-logo-platform
                                [data]="platform"
                            ></app-logo-platform>

                            <span class="name-platform">
                                {{ platform.name }}
                            </span>
                        </div>
                    </mat-option>
                }
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" subscriptSizing="dynamic">
            <mat-label>Группа</mat-label>

            <mat-select formControlName="group">
                <mat-select-trigger>
                    {{ form.value.group?.name }}
                </mat-select-trigger>

                @for (group of gameGroupsList; track group) {
                    <mat-option [value]="group">
                        {{ group.name }}
                    </mat-option>
                }
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" subscriptSizing="dynamic">
            <mat-label>Аккаунт</mat-label>

            <mat-select formControlName="account">
                <mat-select-trigger>
                    <app-logo-platform
                        [data]="
                            platformsService.getPlatformByType(
                                form.value.account?.platform
                            )
                        "
                    ></app-logo-platform>

                    <span class="name-platform">
                        {{ form.value.account?.name }}
                    </span>
                </mat-select-trigger>

                @for (account of accountsList; track account) {
                    <mat-option [value]="account">
                        <div class="container-platform">
                            <app-logo-platform
                                [data]="
                                    platformsService.getPlatformByType(
                                        account.platform
                                    )
                                "
                            ></app-logo-platform>

                            <span class="name-platform">
                                {{ account.name }}
                            </span>
                        </div>
                    </mat-option>
                }
            </mat-select>
        </mat-form-field>

        <mat-slide-toggle formControlName="completed" class="ml">
            {{ form.value.completed ? "Пройденные" : "Все" }}
        </mat-slide-toggle>
    </form>

    <button
        class="ml"
        color="warn"
        mat-mini-fab
        extended
        matTooltip="Сбросить"
        (click)="clearFilters()"
    >
        <mat-icon>cleaning_services</mat-icon>
    </button>
}
