<mat-form-field appearance="outline">
  <mat-label>Поиск игры</mat-label>

  <input
    matInput
    placeholder="Поиск игры"
    [ngModel]="searchText"
    (ngModelChange)="onSearch($event)"
    >

    @if (isSpinner) {
      <mat-icon matSuffix>
        <mat-spinner [diameter]="25"></mat-spinner>
      </mat-icon>
    }
  </mat-form-field>

  <button
    color="warn"
    mat-mini-fab
    extended
    style="margin-left: 1vw;"
    aria-label="Сбросить"
    matTooltip="Сбросить"
    (click)="clearFilters()"
    >
    <mat-icon>cleaning_services</mat-icon>
  </button>
