@if (filterForm) {
    <form [formGroup]="filterForm">
        <mat-form-field appearance="outline" subscriptSizing="dynamic">
            <mat-label>Поиск игры</mat-label>

            <input matInput placeholder="Поиск игры" formControlName="search" />

            @if (isSpinner) {
                <mat-icon matSuffix>
                    <mat-spinner [diameter]="25"></mat-spinner>
                </mat-icon>
            }
        </mat-form-field>

        <mat-form-field
            appearance="outline"
            subscriptSizing="dynamic"
            style="margin-left: 15px"
        >
            <mat-label>Платформа</mat-label>

            <mat-select formControlName="platform">
                <mat-select-trigger>
                    <app-logo-platform
                        [data]="filterForm.value.platform"
                    ></app-logo-platform>

                    <span class="name-platform">
                        {{ filterForm.value.platform?.name }}
                    </span>
                </mat-select-trigger>

                @for (platform of platformList; track platform) {
                    <mat-option [value]="platform">
                        <div class="container-platform">
                            <app-logo-platform
                                [data]="platform"
                            ></app-logo-platform>

                            <span class="name-platform">
                                {{ platform.name }}
                            </span>
                        </div>
                    </mat-option>
                }
            </mat-select>
        </mat-form-field>
    </form>

    <button
        color="warn"
        mat-mini-fab
        extended
        style="margin-left: 1vw"
        aria-label="Сбросить"
        matTooltip="Сбросить"
        (click)="clearFilters()"
    >
        <mat-icon>cleaning_services</mat-icon>
    </button>
}
