<app-header>
    <div modal-left>
        <button
            mat-fab
            color="primary"
            matTooltip="Главная"
            class="mr"
            (click)="explorerService.goToHome()"
        >
            <mat-icon>home</mat-icon>
        </button>

        <button
            mat-fab
            color="primary"
            matTooltip="Список игровых аккаунтов"
            class="mr"
            (click)="explorerService.goToGamingAccountsList()"
        >
            <mat-icon>group</mat-icon>
        </button>
    </div>

    <div modal-right class="modal-right">
        @if (isLoad$ | async) {
            <mat-spinner
                [diameter]="50"
                style="margin-right: 10px"
            ></mat-spinner>
        }

        @if (!editGamingAccount) {
            <button
                mat-fab
                color="warn"
                matTooltip="Отчистить"
                class="mr"
                [disabled]="(isLoad$ | async) || !form"
                (click)="resetField()"
            >
                <mat-icon>cleaning_services</mat-icon>
            </button>
        }

        @if (editGamingAccount) {
            <button
                mat-fab
                color="warn"
                matTooltip="Удалить"
                class="mr"
                [disabled]="(isLoad$ | async) || !form"
                (click)="deleteGamingAccount()"
            >
                <mat-icon>delete</mat-icon>
            </button>
        }

        <button
            mat-fab
            color="accent"
            matTooltip="Сохранить игровой аккаунт"
            [disabled]="(isLoad$ | async) || !form || !form.valid"
            (click)="saveGamingAccount()"
        >
            <mat-icon>save</mat-icon>
        </button>
    </div>
</app-header>

@if (form) {
    <div class="block mb">
        <h1>{{ form.value.name || "Имя аккаунта" }}</h1>
        <h3>{{ form.value.dateEdit | date: "dd.MM.yy HH:mm" }}</h3>

        <form [formGroup]="form">
            <mat-form-field appearance="outline">
                <mat-label>Имя аккаунта</mat-label>

                <input
                    matInput
                    placeholder="Имя аккаунта"
                    formControlName="name"
                />
            </mat-form-field>

            <mat-form-field appearance="outline" subscriptSizing="dynamic">
                <mat-label>Платформа</mat-label>

                <mat-select formControlName="platform">
                    <mat-select-trigger>
                        <app-logo-platform
                            [data]="form.value.platform"
                        ></app-logo-platform>

                        <span class="name-platform">
                            {{ form.value.platform?.name }}
                        </span>
                    </mat-select-trigger>

                    @for (platform of platformList; track platform) {
                        <mat-option [value]="platform">
                            <div class="container-platform">
                                <app-logo-platform
                                    [data]="platform"
                                ></app-logo-platform>

                                <span class="name-platform">
                                    {{ platform.name }}
                                </span>
                            </div>
                        </mat-option>
                    }
                </mat-select>
            </mat-form-field>

            @if ((isLoad$ | async) === false) {
                <h2>Поиск игр</h2>

                <mat-form-field appearance="outline" subscriptSizing="dynamic">
                    <mat-label>Поиск игры</mat-label>

                    <input
                        matInput
                        placeholder="Поиск игры"
                        formControlName="searchGame"
                    />
                </mat-form-field>

                <mat-action-list class="games-list">
                    @for (game of foundGamesList; track game) {
                        <div class="games-list__item">
                            <mat-list-item
                                (click)="explorerService.goToGameEdit(game.id)"
                            >
                                {{ game.name }}
                            </mat-list-item>

                            <button
                                class="games-list__right"
                                mat-fab
                                color="accent"
                                [matTooltip]="'Добавить игру в группу'"
                                (click)="selectGame(game)"
                            >
                                <mat-icon>add</mat-icon>
                            </button>
                        </div>
                    }
                </mat-action-list>
            }

            <h2>Игры аккаунта</h2>

            <mat-action-list class="games-list">
                @if (form.value.games?.length) {
                    @for (game of form.value.games; track game) {
                        <div class="games-list__item">
                            <mat-list-item
                                (click)="explorerService.goToGameEdit(game.id)"
                            >
                                {{ game.name }}
                            </mat-list-item>

                            <button
                                class="games-list__right"
                                mat-fab
                                color="warn"
                                [matTooltip]="'Удалить из списка'"
                                (click)="deleteGame(game)"
                                [disabled]="isLoad$ | async"
                            >
                                <mat-icon>delete</mat-icon>
                            </button>
                        </div>
                    }
                } @else {
                    <p class="empty">
                        Пока тут пусто. В поле "Поиск игр" ввдите название игры
                        и выберите нужную из списка.
                    </p>
                }
            </mat-action-list>
        </form>
    </div>
}
