form {
    display: flex;
    flex-direction: column;
}
.logo-block {
    display: flex;

    mat-form-field {
        width: -webkit-fill-available;
    }
    button {
        margin-left: 1vw;
    }
}
.container-platform {
    display: flex;
    align-items: center;
}
.platforms-selected-list {
    display: flex;
}
.platforms-selected-item {
    font-size: inherit;
    line-height: 3em;
    height: 3em;
    display: flex;
    align-items: center;
    margin-right: 1vw;
}
h3 {
    margin-top: 0;
    margin-bottom: 0;
}
mat-divider {
    margin: 4vh 0;
    border-top-width: 3px;
}

.name-platform {
    margin-left: 10px;
}
