<app-header>
    <div modal-left>
        <button
            mat-fab
            color="primary"
            matTooltip="Главная"
            class="mr"
            (click)="explorerService.goToHome()"
        >
            <mat-icon>home</mat-icon>
        </button>

        @if (form) {
            <button
                mat-fab
                color="primary"
                matTooltip="Яндекс поиск"
                class="mr"
                (click)="explorerService.goToYandexSearch(form.value.name)"
            >
                <mat-icon>public</mat-icon>
            </button>

            <button
                mat-fab
                color="primary"
                matTooltip="Яндекс картинки"
                (click)="explorerService.goToYandexImage(form.value.name)"
            >
                <mat-icon>image</mat-icon>
            </button>
        }
    </div>

    <div modal-right class="modal-right">
        @if (isLoad$ | async) {
            <mat-spinner
                [diameter]="50"
                style="margin-right: 10px"
            ></mat-spinner>
        }

        @if (!editGame) {
            <button
                mat-fab
                color="warn"
                matTooltip="Отчистить"
                class="mr"
                [disabled]="(isLoad$ | async) || !form"
                (click)="resetField()"
            >
                <mat-icon>cleaning_services</mat-icon>
            </button>
        }

        @if (editGame) {
            <button
                mat-fab
                color="warn"
                matTooltip="Удалить"
                class="mr"
                [disabled]="(isLoad$ | async) || !form"
                (click)="deleteGame()"
            >
                <mat-icon>delete</mat-icon>
            </button>
        }

        <button
            mat-fab
            color="accent"
            matTooltip="Сохранить игру"
            [disabled]="(isLoad$ | async) || !form || !form.valid"
            (click)="saveGame()"
        >
            <mat-icon>save</mat-icon>
        </button>
    </div>
</app-header>

@if (form) {
    <div class="block">
        <div class="game-header">
            <div class="game-header__left">
                <h1>{{ form.value.name || "Название игры" }}</h1>
                <h3>{{ form.value.dateEdit | date: "dd.MM.yy HH:mm" }}</h3>
            </div>
            <div class="game-header__right">
                @if (form.value.logo) {
                    <img [src]="form.value.logo" [alt]="form.value.logo" />
                } @else {
                    <app-empty-logo [textSize]="'100px'"></app-empty-logo>
                }
            </div>
        </div>

        <form [formGroup]="form">
            <p>
                <mat-slide-toggle formControlName="completed">
                    Игра пройдена
                    @if (form.value.completed) {
                        <mat-icon class="icon-completed green mr">
                            check_circle
                        </mat-icon>
                    } @else {
                        <mat-icon class="icon-completed red mr">
                            close
                        </mat-icon>
                    }
                </mat-slide-toggle>
            </p>

            <mat-form-field appearance="outline">
                <mat-label>Название игры</mat-label>

                <input
                    matInput
                    placeholder="Название игры"
                    formControlName="name"
                />

                @if (similarGame.isShowProgress) {
                    <mat-progress-spinner
                        style="margin-right: 10px"
                        matSuffix
                        [diameter]="30"
                        [mode]="'determinate'"
                        [value]="similarGame.valueProgress"
                    ></mat-progress-spinner>
                }
                @if (similarGame.isLoadData) {
                    <mat-spinner
                        style="margin-right: 10px"
                        matSuffix
                        [diameter]="30"
                    ></mat-spinner>
                }
            </mat-form-field>

            @if (similarGame.findedGames.length) {
                <app-btn-list
                    [buttonsList]="similarGame.findedGames"
                    (clickItem)="explorerService.goToGameEdit($event.id)"
                ></app-btn-list>
            }

            <mat-form-field appearance="outline">
                <mat-label>Ссылка на лого</mat-label>

                <input
                    matInput
                    placeholder="Ссылка на лого"
                    formControlName="logo"
                />
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Платформы</mat-label>

                <mat-select formControlName="platforms" multiple>
                    <mat-select-trigger>
                        <div class="platforms-selected-list">
                            @for (
                                platform2 of form.value.platforms;
                                track platform2
                            ) {
                                <div class="platforms-selected-item">
                                    <app-logo-platform
                                        [data]="platform2"
                                    ></app-logo-platform>

                                    <span class="name-platform">
                                        {{ platform2.name }}
                                    </span>
                                </div>
                            }
                        </div>
                    </mat-select-trigger>

                    @for (platform of platformList; track platform) {
                        <mat-option [value]="platform">
                            <div class="container-platform">
                                <app-logo-platform
                                    [data]="platform"
                                ></app-logo-platform>

                                <span class="name-platform">
                                    {{ platform.name }}
                                </span>
                            </div>
                        </mat-option>
                    }
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Аккаунты</mat-label>

                <mat-select formControlName="accounts" multiple>
                    <mat-select-trigger>
                        <div class="platforms-selected-list">
                            @for (
                                accountItem of form.value.accounts;
                                track accountItem
                            ) {
                                <div class="platforms-selected-item">
                                    <app-logo-platform
                                        [data]="
                                            platformsService.getPlatformByType(
                                                accountItem.platform
                                            )
                                        "
                                    ></app-logo-platform>

                                    <span class="name-platform">
                                        {{ accountItem.name }}
                                    </span>
                                </div>
                            }
                        </div>
                    </mat-select-trigger>

                    @for (
                        accountItem of gamingAccountsList;
                        track accountItem
                    ) {
                        <mat-option [value]="accountItem">
                            <div class="container-platform">
                                <app-logo-platform
                                    [data]="
                                        platformsService.getPlatformByType(
                                            accountItem.platform
                                        )
                                    "
                                ></app-logo-platform>

                                <span class="name-platform">
                                    {{ accountItem.name }}
                                </span>
                            </div>
                        </mat-option>
                    }
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Группы</mat-label>

                <mat-select formControlName="gameGroups" multiple>
                    <mat-select-trigger>
                        <div>
                            @for (
                                itemGameGroup of form.value.gameGroups;
                                track itemGameGroup
                            ) {
                                {{ itemGameGroup.name }} |
                            }
                        </div>
                    </mat-select-trigger>

                    @for (
                        itemGameGroup of gameGroupsList;
                        track itemGameGroup
                    ) {
                        <mat-option [value]="itemGameGroup">
                            <div class="container-platform">
                                {{ itemGameGroup.name }}
                            </div>
                        </mat-option>
                    }
                </mat-select>
            </mat-form-field>
        </form>
    </div>

    @if (form.value.gameGroups?.length) {
        <h2>Группы</h2>

        <div class="block mt">
            <app-btn-list
                [buttonsList]="form.value.gameGroups"
                (clickItem)="explorerService.goToGameGroupEdit($event.id)"
            ></app-btn-list>
        </div>
    }

    @if (form.value.accounts?.length) {
        <h2>Аккаунты</h2>

        <div class="block mt">
            <app-btn-list
                [buttonsList]="form.value.accounts"
                (clickItem)="explorerService.goToGamingAccountEdit($event.id)"
            ></app-btn-list>
        </div>
    }
}
