<mat-list role="list">
    @for (game of gameList; track game; let i = $index) {
        <mat-list-item role="listitem" class="mat-mdc-list-item-interactive">
            <app-game-card [gameData]="game" [index]="i"></app-game-card>
        </mat-list-item>
    }
</mat-list>

@if (!gameList.length) {
    <mat-card class="empty-card" appearance="outlined">
        <mat-card-header>
            <mat-card-title>Пусто...</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <img
                class="empty-card__img"
                src="/assets/empty.jpg"
                alt="Список пуст"
            />
        </mat-card-content>
    </mat-card>
}
