.home {
    &__header {
        width: 100%;
        display: flex;
    }
    &__buttons-block {
        margin-left: auto;
    }
}

.matMenu-buttons-block {
    display: flex;
    flex-direction: column;
    
    button {
        margin-bottom: 0.5vh;
    }
}