<div class="home">
    <div class="home__header">
        <filter-list [(currentGameList)]="currentGameList"></filter-list>
        <div class="home__buttons-block">
            <button
                color="primary"
                mat-fab
                [matMenuTriggerFor]="menu"
                style="margin-right: 1vw;"
                extended
                aria-label="Настройки"
                matTooltip="Настройки">
                <mat-icon>settings</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button
                    color="primary"
                    mat-fab
                    style="margin-right: 1vw;"
                    extended
                    aria-label="Копировать данные"
                    matTooltip="Копировать данные"
                    (click)="copyGamesList()">
                    <mat-icon>content_copy</mat-icon>
                </button>
            </mat-menu>
            <button
                color="accent"
                mat-fab
                extended
                aria-label="Добавить игру"
                matTooltip="Добавить игру"
                (click)="goToAddGame()">
                <mat-icon>add</mat-icon>
            </button>
        </div>
    </div>
    <games-list [gameList]="currentGameList"></games-list>
</div>