<div class="home">
    <div class="home__head">
        <app-header>
            <div modal-left>
                @if ((isLoad$ | async) === false) {
                    <app-filter-list
                        #filterComponent
                        [(gamesList)]="gamesList"
                        [gameGroupsList]="gameGroupsList"
                        [platformList]="platformList"
                    ></app-filter-list>
                }
            </div>
            <div modal-right>
                <app-settings (action)="actionSettings($event)"></app-settings>

                <button
                    color="accent"
                    mat-fab
                    matTooltip="Добавить игру"
                    (click)="explorerService.goToAddGame()"
                >
                    <mat-icon>add</mat-icon>
                </button>
            </div>
        </app-header>
    </div>

    <div class="home__body">
        @if (isLoad$ | async) {
            <mat-spinner [diameter]="75"></mat-spinner>
        } @else {
            <app-games-list [gamesList]="gamesList"></app-games-list>
        }
    </div>
</div>
