<app-header>
    <div modal-left>
        <button
            mat-fab
            color="primary"
            matTooltip="Главная"
            class="mr"
            (click)="explorerService.goToHome()"
        >
            <mat-icon>home</mat-icon>
        </button>

        <button
            mat-fab
            color="primary"
            matTooltip="Группы игр"
            class="mr"
            (click)="explorerService.goToGameGroupsList()"
        >
            <mat-icon>group</mat-icon>
        </button>
    </div>

    <div modal-right class="modal-right">
        @if (isLoad$ | async) {
            <mat-spinner
                [diameter]="50"
                style="margin-right: 10px"
            ></mat-spinner>
        }

        @if (!editGameGroup) {
            <button
                mat-fab
                color="warn"
                matTooltip="Отчистить"
                class="mr"
                [disabled]="(isLoad$ | async) || !gameGroupForm"
                (click)="resetField()"
            >
                <mat-icon>cleaning_services</mat-icon>
            </button>
        }

        @if (editGameGroup) {
            <button
                mat-fab
                color="warn"
                matTooltip="Удалить"
                class="mr"
                [disabled]="(isLoad$ | async) || !gameGroupForm"
                (click)="deleteGameGroup()"
            >
                <mat-icon>delete</mat-icon>
            </button>
        }

        <button
            mat-fab
            color="accent"
            aria-label="Сохранить группу"
            matTooltip="Сохранить группу"
            [disabled]="
                (isLoad$ | async) || !gameGroupForm || !gameGroupForm.valid
            "
            (click)="saveGameGroup()"
        >
            <mat-icon>save</mat-icon>
        </button>
    </div>
</app-header>

@if (gameGroupForm) {
    <div class="block mb">
        <h1>{{ gameGroupForm.value.name || "Название группы" }}</h1>
        <h3>{{ gameGroupForm.value.dateEdit | date: "dd.MM.yy HH:mm" }}</h3>

        <form [formGroup]="gameGroupForm">
            <mat-form-field appearance="outline">
                <mat-label>Название группы</mat-label>

                <input
                    matInput
                    placeholder="Название группы"
                    formControlName="name"
                />
            </mat-form-field>

            @if ((isLoad$ | async) === false) {
                <h2>Поиск игр</h2>

                <mat-form-field appearance="outline" subscriptSizing="dynamic">
                    <mat-label>Поиск игры</mat-label>

                    <input
                        matInput
                        placeholder="Поиск игры"
                        formControlName="searchGame"
                    />
                </mat-form-field>

                <mat-action-list class="games-list">
                    @for (game of foundGamesList; track game) {
                        <div class="games-list__item">
                            <mat-list-item
                                (click)="explorerService.goToGameEdit(game.id)"
                            >
                                {{ game.name }}
                            </mat-list-item>

                            <button
                                class="games-list__right"
                                mat-fab
                                color="accent"
                                [matTooltip]="'Добавить игру в группу'"
                                (click)="selectGame(game)"
                            >
                                <mat-icon>add</mat-icon>
                            </button>
                        </div>
                    }
                </mat-action-list>
            }

            <h2>Игры в группе</h2>

            <mat-action-list class="games-list">
                @if (gameGroupForm.value.games?.length) {
                    @for (game of gameGroupForm.value.games; track game) {
                        <div class="games-list__item">
                            <mat-list-item
                                (click)="explorerService.goToGameEdit(game.id)"
                            >
                                {{ game.name }}
                            </mat-list-item>

                            <button
                                class="games-list__right"
                                mat-fab
                                color="warn"
                                [matTooltip]="'Удалить из списка'"
                                (click)="deleteGame(game)"
                                [disabled]="isLoad$ | async"
                            >
                                <mat-icon>delete</mat-icon>
                            </button>
                        </div>
                    }
                } @else {
                    <p class="empty">
                        Пока тут пусто. В поле "Поиск игр" ввдите название игры
                        и выберите нужную из списка.
                    </p>
                }
            </mat-action-list>
        </form>
    </div>
}
