<div class="game-item" (click)="explorerService.goToGameEdit(gameData.id)">
    <div class="game-item__logo">
        @if (gameData.logo) {
            <img [src]="gameData.logo" [alt]="gameData.logo" />
        } @else {
            <app-empty-logo></app-empty-logo>
        }
    </div>

    @if (gameData.completed) {
        <mat-icon class="game-item__completed green"> check_circle </mat-icon>
    }

    <div class="game-item__tools">
        <button
            class="game-item__btn game-item__btn--small"
            matIconButton
            matTooltip="Копировать название"
            (click)="copyName($event)"
        >
            <mat-icon>content_copy</mat-icon>
        </button>

        <button
            class="game-item__btn game-item__btn--small"
            matIconButton
            matTooltip="Открыть в окне"
            (click)="openBlank($event)"
        >
            <mat-icon>open_in_new</mat-icon>
        </button>
    </div>

    <div class="game-item__name">
        {{ gameData.name }}
    </div>

    <div class="game-item__logos-wrapper">
        @for (platformType of gameData.platforms; track platformType) {
            <div class="game-item__logo-wrapper">
                <app-logo-platform
                    [data]="platformsService.getPlatformByType(platformType)"
                    [width]="'100%'"
                ></app-logo-platform>
            </div>
        }
    </div>
</div>
