@use "../../styles/icons" as *;

$mat-btn-small-size: 34px;

.btn-list-item {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;

    &:not(:first-child) {
        border-top: 1px solid gray;
    }

    &__right-btn {
        padding: 0;
        width: $mat-btn-small-size;
        height: $mat-btn-small-size;

        .mat-icon {
            @include icon-size(26px);
        }
    }
}
