/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
app-root {
    display: block;
    padding: 3vh 3vh 0 3vh;
}

/* TODO(mdc-migration): The following rule targets internal classes of option that may no longer apply for the MDC version. */
.mat-option-text.mat-option-text {
    height: 70%;
    display: flex;
    align-items: center;
}

.mat-mdc-menu-panel {
    overflow: unset !important;
    background: none !important;
    box-shadow: none !important;
    min-width: auto;
    max-width: none;
}

:root {
    --mdc-fab-container-shape: 16px;
    --mdc-fab-small-container-shape: 12px;
    --mdc-dialog-container-color: #ffffff9e;
}
