@if (buttonsList?.length) {
    <div class="btn-list">
        <mat-action-list [className]="orientation">
            @for (btn of buttonsList; track btn) {
                <app-btn-list-item
                    [buttonData]="btn"
                    [btnConfig]="btnConfig"
                    [disabled]="disabled"
                    (clickItem)="clickItem.emit($event)"
                    (clickBtn)="clickBtn.emit($event)"
                ></app-btn-list-item>
            }
        </mat-action-list>
    </div>
}
