@use "../../styles/variables" as *;

.horizontal {
    display: flex;
    flex-direction: row;
    padding: 0;
    width: 100%;
}

.vertical {
    padding: 0;
    width: 100%;
}

.btn-list {
    display: flex;
    border: 1px solid grey;
    border-radius: $border-radius;
    margin-bottom: $gap-size;
    padding: $gap-size;
}
